<nav class="navbar navbar-expand-lg">
    <div class="container site-container">
      <a class="navbar-brand text-white" href="#">MAMBO</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navMain">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="navMain">
        <ul class="navbar-nav align-items-center">
          <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Productos</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Vestidor IA</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Contáctanos</a></li>
          <li class="nav-item"><a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#loginModal"><i
                class="bi bi-person"></i> Iniciar</a></li>
          <li class="nav-item ms-2">
            <button class="btn btn-dark position-relative" data-bs-toggle="offcanvas" data-bs-target="#cartCanvas"
              aria-controls="cartCanvas">
              <i class="bi bi-cart3 fs-5"></i>
              <span id="cartBadge" class="badge-accent position-absolute top-0 start-100 translate-middle">0</span>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
