name: Validación Angular Completa

on:
  push:
    branches: ["**"]
  pull_request:
    branches: ["main"]
jobs:
  validate:
    runs-on: ubuntu-latest

    steps:
      - name: Obtener código
        uses: actions/checkout@v4

      - name: Configurar Node
        uses: actions/setup-node@v4
        with:
          node-version: "22"

      - name: Instalar dependencias del frontend
        working-directory: ./frontend
        run: npm install --legacy-peer-deps

      # ---- VALIDAR TYPESCRIPT + HTML ----
      - name: Lint HTML
        working-directory: ./frontend
        run: npx htmlhint "src/app/**/**/*.html" "src/**/*.html"

      # ---- VALIDAR SCSS ----
      - name: Lint SCSS
        working-directory: ./frontend
        run: npm run lint:scss
